<h1>Incident Report</h1>
<div>
<h5><strong>Your location:</strong> <%= @incident.reverse_geocode %>
</h5>
</div>

<div>
<h5><strong> Your Representative: </strong>
<%= @incident.get_name %> (<%= @incident.get_email %>) 
</h5>
</div>

<%= image_tag(@incident.image.thumb)%>

