<h1>Crack Report</h1>
<div>
<p><strong>Your location:</strong> <%= @incident.reverse_geocode %>
</p>
</div>
<div>

<p><strong> Your Representative:</strong> <%= @incident.get_name %></p>

<p><strong>Your Crack:</strong>
</p>

</div>