<p>Dear Council Member,</p>

<p>Our district’s streets are in dire need of repair. Potholes and  uneven sidwalks are a hazard to our local population, as well as a major barrier for people with disabilities.</p>

<p>The image below was taken in this district. Our community deserves safe, repaired streets. Please fix this road, to prevent injury and increase the wellbeing of us, the constituents.</p>