<div class="col-sm-4 sidebar">

               <div class="widget">
              <h5 class="widget-title font-alt"><i class="fa fa-arrow-circle-right"></i> GET STARTED</h5>
              Candid Sidewalk is the shortest distance between you and your local representative. Snap a picture of a hazard in your community, and Candid Sidewalk will send an email with the picture and its location to your local councilperson.
            </div>
            <div>

  <%= link_to "Report Broken Sidewalk!", new_incident_path, class: "btn btn-default"%>
</div>
</div>
