<div class="row">

    <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt">About Candid Sidewalk</h2>
        <div class="module-subtitle font-serif">
            Take civic action with convenience of your smart phone!
        </div>

    </div>

</div>

<div class="row multi-columns-row">

          <!-- Features start -->
          <div class="col-sm-4">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-phone" aria-label="phone icon"></span>
              </div>
              <h3 class="features-title font-alt">Snap a Sidewalk!</h3>
              <ul class="text-left">
                <li>Take a picture</li> 
                <li>Your phone immediately identifies the exact street address of the culprit crack!</li> 
                <li>Email the local City Council Member of the district you are currently in</li>
              </ul> 
            </div>

          </div>
          <!-- Features end -->

          <!-- Features start -->
          <div class="col-sm-4">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-map" aria-label="map icon"></span>
              </div>
              <h3 class="features-title font-alt">Viewing Local Streets</h3>
              <ul class="text-left">
                <li>See the condition of your daily routes.</li> 
                <li>View conditions by neighborhood.</li> 
              </ul>
            </div>

          </div>
          <!-- Features end -->

          <!-- Features start -->
          <div class="col-sm-4">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-clipboard" aria-label="clipboard icon"></span>
              </div>
              <h3 class="features-title font-alt">Record Your Reports</h3>
              <ul class="text-left">
                <li>Keep a record of all of your incidents.</li> 
                <li>Share with friends.</li>
                <li>Keep the local government informed and accountable!</li> 
              </ul>
            </div>

          </div>
    <div class="row spacer"></div>
    <hr class="divider-w">
    <div class="row spacer"></div>

    <div class="row">

    <div class="col-sm-6 col-sm-offset-3">

        <h5 class="module-title font-alt">Meet Our Team</h5>
        
    </div>

  </div>

  <div class="row">

          <!-- Team item star -->
          <div class="col-sm-4 mb-sm-20 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">

            <div class="team-item">
              <div class="team-image">
                <img src="<%= image_url('julian.png') %>" alt="Julian Taub, Web Developer">
                <div class="team-detail">
                  <div class="team-social">
                    <a href="#"><i class="fa fa-facebook" aria-label="Julian's facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-label="Julian's twitter"></i></a>
                    <a href="#"><i class="fa fa-github" aria-label="Julian's github"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Julian Taub</div>
                <div class="team-role">Web Developer</div>
              </div>
            </div>

          </div>
          <!-- Team item end -->

          <!-- Team item star -->
          <div class="col-sm-4 mb-sm-20 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">

            <div class="team-item">
              <div class="team-image">
                <img src="<%= image_url('dana.png') %>" alt="Dana Najjar, Web Developer">
                <div class="team-detail">
                  <h5 class="font-alt">Good day</h5>
                  <div class="team-social">
                    <a href="#"><i class="fa fa-facebook" aria-label="Dana's facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-label="Dana's twitter"></i></a>
                    <a href="#"><i class="fa fa-github" aria-label="Dana's github"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Dana Najjar</div>
                <div class="team-role">Web Developer</div>
              </div>
            </div>

          </div>
          <!-- Team item end -->

          <!-- Team item star -->
          <div class="col-sm-4 mb-sm-20 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">

            <div class="team-item">
              <div class="team-image">
                <img src="<%= image_url('joshua.jpg') %>" alt="Joshua Baker, Web Developer">
                <div class="team-detail">
                  <div class="team-social">
                    <a href="#"><i class="fa fa-facebook" aria-label="Josh's facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-label="Josh's twitter"></i></a>
                    <a href="#"><i class="fa fa-github" aria-label="Josh's github"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Joshua Baker</div>
                <div class="team-role">Web Developer</div>
              </div>
            </div>

          </div>
          <!-- Team item end -->

          <!-- Team item star -->
          
          <!-- Team item end -->

        </div>
          

</div>