<div id="map-canvas">  
  </div>

<div id="mobile">
  <button class="btn btn-circle"><%= link_to "Report Broken Sidewalk!", new_incident_path %></button>
</div>
<div class="index-spacer"> </div>

<center>   
<script>    
  function initialize() {

    var mapOptions = {
      center: new google.maps.LatLng(40.7527, -74.0059),
      zoom: 11,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var mapCanvas = document.getElementById('map-canvas');
    var map = new google.maps.Map(mapCanvas, mapOptions);
  <% @incidents.each do |incident|%>
    // (function(){
      var myLatlng = new google.maps.LatLng(<%= incident.latitude %>,<%= incident.longitude %>);
      
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map       
    }); 
    // })();
    <% end %>
      
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
</center> 

