<h3><%= @user.name.capitalize %>'s Account</h3>

<h4>Reported Incidents:</h4>

<ul id="works-grid" class="works-grid works-grid-gut works-grid-4 works-hover-w" style="position: relative; height: 633px;">
<% @user.incidents.each do |incident| %>
        <!-- Portfolio item start -->
        <li class="work-item illustration webdesign">
            <div class="work-image">
            <%= image_tag(incident.image.thumb, alt: "Broken Sidewalk") %>
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title"> <%= incident.name %></h3>
              <div class="work-descr">
                  <%= incident.location %>
              </div>
            </div>
        </li>
    <% end %>
      </ul>