<h3><%= @user.name %>'s Account</h3>

<h4>Reported Incidents:</h4>

<% @user.incidents.each do |incident| %>
       
      <div>
             <%= image_tag(incident.image.thumb)%>
            
              <%= incident.name %>
                 <%= incident.location %>
       </div>
 <% end %>
 
  