<h1><%= @user.name %>'s Account</h1>

<h2>Reported Incidents</h2>
<ul>
<% @user.incidents.each do |incident| %>
  <li>
    <p><%= incident.name %> - <%= incident.location %></p>
    <div>
      <%= image_tag(incident.image.thumb)%>
    </div> 
  </li>
<% end %>
</ul>