<%= form_for @photo do |f| %>
  <div>
    <%= f.label :filepicker_url, "Upload Your Photo:" %>
    <%= f.filepicker_field :filepicker_url %> 
  </div>

  <%= f.submit %>
<% end %>
  <input type="file" capture="camera" accept="image/*" id="takePictureField">
