@media only screen and (min-width : 768px) {

  #mobile {
    display:none
  }

}

@media only screen and (min-width : 768px) {

  #mobile {
    display:none

  }

}

input[type="file"] {
  border: 0;
  margin: 10px 0;
}
