@media only screen and (min-width : 768px) {

 #mobile {
   display:none;
 }
}

.btn.btn-default {
  padding: 20px;
  border-radius: 5px; 
  margin: 0 auto 20px;
  color: #ccc;
  background-color: #ccc;

}

a.btn.btn-default {
 color: #000;

 &:hover{
   color: #0f0;
 }
}


input[type="file"] {
 border: 0;
 margin: 10px 0;
}