<div class="module-small bg-dark">
      <div class="container">
  
        <div class="row">
  
          <div class="col-sm-3">
  
            <!-- Widget start -->
            <div class="widget">
              <h5 class="widget-title font-alt">About Candid Sidewalk</h5>
              <p>Take civic action with the convenience of your smart phone!</p>
            </div>
            <!-- Widget end -->
  
          </div>
  
          <div class="col-sm-3">
  
            <!-- Widget start -->
            <div class="widget">
              <h5 class="widget-title font-alt">Recent Incidents</h5>
              <ul class="icon-list">
                <li>Cracked Sidewalk on <a href="#">Broadway</a></li>
                <li>Trippy bump on <a href="#">Canal Street</a></li>
              </ul>
            </div>
            <!-- Widget end -->
  
          </div>
  
          <div class="col-sm-3">
  
            <!-- Widget start -->
            <div class="widget">
              <h5 class="widget-title font-alt">Resources</h5>
              <ul class="icon-list">
                <li><a href="#">My Account</a></li>
                <li><a href="#">My representives</a></li>
              </ul>
            </div>
            <!-- Widget end -->
  
          </div>
  
          <div class="col-sm-3">
  
            <!-- Widget start -->
            <div class="widget">
              <h5 class="widget-title font-alt">City Open Data</h5>
              <ul class="widget-posts">
  
                <li class="clearfix">
                  <div class="widget-posts-image">
                    <a href="#"><img src="https://www.iqt.org/wp-content/uploads/2013/09/Socrata_logo_source-40x44.png" alt=""></a>
                  </div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title">
                      <a href="#">NYC Open Data</a>
                    </div>
                  </div>
                </li>
  
                <li class="clearfix">
                  <div class="widget-posts-image">
                    <a href="#"><img src="http://pbs.twimg.com/profile_images/3057855429/49cff02ea1ea88993d7edadd8b027982_normal.jpeg" alt=""></a>
                  </div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title">
                      <a href="http://chriswhong.com/">Chris Whong</a>
                    </div>
                  </div>
                </li>
                
                <li class="clearfix">
                  <div class="widget-posts-image">
                    <a href="#"><img src="http://www.unlockphilly.com/images/logo/unlock_logo_aug_14_flipped.png" alt=""></a>
                  </div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title">
                      <a href="http://unlockphilly.com/">Unlock Philly</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Widget end -->
  
          </div>
  
        </div><!-- .row -->
  
      </div>
    </div>
    <footer class="footer bg-dark">
      <div class="container">
  
        <div class="row">
  
          <div class="col-sm-6">
            <p class="copyright font-alt">© 2015 <a href="#">Made with &#10084; by Team Holy Sidewalks</a>, All Rights Reserved.</p>
          </div>
  
          <div class="col-sm-6">
            <div class="footer-social-links">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-skype"></i></a>
            </div>
          </div>
  
        </div><!-- .row -->
  
      </div>
    </footer>
